* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: auto;
}

/* color variables */
/* font variables */
/* mixin to center items */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
    background-color: #e6e6e6;
  }
  90% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
    scale: 1;
    opacity: 0.8;
    visibility: visible;
    background-color: #e6e6e6;
  }
  100% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
    visibility: hidden;
    scale: 0;
    opacity: 0;
    background-color: #e6e6e6;
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
    background-color: #e6e6e6;
  }
  90% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
    scale: 1;
    opacity: 0.8;
    visibility: visible;
    background-color: #e6e6e6;
  }
  100% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
    visibility: hidden;
    scale: 0;
    opacity: 0;
    background-color: #e6e6e6;
  }
}

.spinner:before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  /* negative margins of 1/2 height/width required to center */
  margin-top: -100px;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.header .logo {
  width: 100%;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 110px;
  -webkit-box-shadow: 0px 0.1px 5px gray;
          box-shadow: 0px 0.1px 5px gray;
  font-family: Shrikhand;
  z-index: 1;
}

.header__logo {
  width: 45%;
  max-height: 70px;
  color: black;
}

.header .location {
  z-index: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  height: 65px;
  background-color: #e6e6e6;
  width: 100%;
  padding-top: 20px;
}

.header .location .pin {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  padding-right: 10px;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 250px;
  background-color: #f5f5f5;
}

.explore__title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.explore__subtitle {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.explore button {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 0;
  color: white;
  font-family: Roboto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 0px 6px 0.5px gray;
          box-shadow: 0px 0px 6px 0.5px gray;
}

.explore button:hover {
  -webkit-box-shadow: 0px 0px 12px 0.5px gray;
          box-shadow: 0px 0px 12px 0.5px gray;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background: linear-gradient(#ff88de, #9b63df);
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.instructions .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 5px 10px #d9d9d9;
          box-shadow: 0px 5px 10px #d9d9d9;
}

.instructions .step__icon {
  padding-right: 20px;
  color: gray;
}

.instructions .step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-22px);
          transform: translateX(-22px);
  color: white;
  font-family: Roboto;
  background-color: #9356DC;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
}

.item {
  height: 190px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 12px 6px #e1e1e1;
          box-shadow: 0px 0px 12px 6px #e1e1e1;
}

.item__img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -o-object-position: 70% 70%;
     object-position: 70% 70%;
}

.item__title {
  font-family: Roboto;
  padding-left: 15px;
  padding-top: 5px;
}

.item__icon {
  float: right;
  position: relative;
  right: 20px;
  bottom: 40px;
  font-size: 25px;
  opacity: 0.4;
  color: 2px solid black;
  background-color: white;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.item__icon:hover {
  opacity: 1;
}

.footer {
  background-color: #343434;
  color: white;
  line-height: 30px;
  /* adds space above and below each item */
  padding-top: 15px;
}

.footer__logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 30%;
  padding-left: 20px;
}

.footer .suggest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 27px;
}

.footer .suggest__icon {
  position: relative;
  top: 7px;
  padding-right: 10px;
  padding-left: -2px;
}

.footer .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .partner__icon {
  position: relative;
  top: 7px;
  padding-right: 10px;
  padding-left: 20px;
}

.footer .legal, .footer .contact {
  padding-left: 20px;
}
/*# sourceMappingURL=home.css.map */