*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: auto;
}
/* media query for mobile version */
@media only screen and (min-width: 992px) {
    .instructions__title {
        text-align: center;
        padding-left: 0px !important;
    }
    .steps {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around !important;
        
        .step {
            width: 30% !important;
            justify-content: center !important;
        }
    }
    .restaurants {
        &__title {
            text-align: center;
            padding-left: 0px !important;
        }
        &__items {
            flex-direction: row !important;
            justify-content: space-around !important;
        }
        .item {
            width: 24% !important;
            height: 270px !important;
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        &__logo {
            width: 150px !important;
            padding-top: 5px !important;
        }
    }
}
/* color variables */
$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$darkGray: (#e6e6e6);
$lightGray: (#f5f5f5);
$logoColor: black;
/* font variables */
$primaryFont: Shrikhand;
$secondaryFont: Roboto;
/* mixin to center items */
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}
@keyframes spinner {
    
    0% {transform: rotate(0deg);
        opacity: 0;
        ;
        }
    
    90% {transform: rotate(1440deg);
        scale: 1;
        opacity: 0.8;
        visibility: visible;
        }
    
    100% {transform: rotate(1440deg);
        visibility: hidden;
        scale: 0;
        transform:translateY(-50px);
        opacity: 0;
        ;
        }
}
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    z-index: 999;
    margin-left: -100px; /* negative margins of 1/2 height/width required to center */
    margin-top: -100px;
    border-radius: 50%;
    border: 20px solid transparent;
    border-top-color: $secondaryColor;
    background-color: $darkGray;
    animation-name:spinner;
    animation-delay:0s;
    animation-duration:3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
}
@keyframes loading-background {
    0% {opacity:1;}

    90% {opacity: 1;}

    100% {opacity:0;
        visibility: hidden;}
}
.loading-background {
    content:'';
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
    animation-name:loading-background;
    animation-delay:0s;
    animation-duration:3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
}
.header {
    &__logobox {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        text-align: center;
        box-shadow: 0px 5px 5px gray;
        font-family: $primaryFont;
        z-index: 1;
    }
    &__logo {
        height: 70px;
        color: $logoColor;
    }
    .location {
        z-index: 0;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
        font-family: $secondaryFont;
        height: 65px;
        background-color: $darkGray;
        width: 100%;
        padding-top: 20px;
        .pin {
            transform:translateY(5px);
            padding-right: 10px;
        }
    }
    }
    .explore {
        @include flexCenter;
        text-align: center;
        height: 250px;
        background-color: $lightGray;
        &__title {
            font-size: 20px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        &__subtitle {
            font-size: 14px;
            padding-bottom: 10px;
            padding-top: 10px;
            color: rgba(0, 0, 0, 0.6)
        }
        &__button {
            text-decoration: none;
            display: block;
            width: 50%;
            height: 50px;
            line-height: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 25px;
            border: 0;
            color: white;
            font-family: $secondaryFont;
            background-image: linear-gradient($secondaryColor, $primaryColor);
            box-shadow: 0px 0px 6px 0.5px gray;
            &:hover {
                box-shadow: 0px 0px 12px 0.5px gray;
                background: linear-gradient(lighten($secondaryColor, 3), lighten($primaryColor, 3));
            }
        }
    }
    .instructions {
        margin-top: 15px;
        margin-bottom: 15px;
        &__title {
            padding-left: 30px;
        }
        .steps {
            @include flexCenter;
        }
        .step {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $lightGray;
        box-shadow: 0px 5px 10px darken($darkGray, 5);
        &__icon {
            padding-right: 20px;
            color: gray;
        }
        &__number {
            @include flexCenter;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            transform:translateX(-22px);
            color: white;
            font-family: $secondaryFont;
            background-color: $primaryColor;
        }
       } 
    }
    .restaurants {
        background-color: $lightGray;
        padding-top: 20px;
        padding-bottom: 10px;
        &__title {
            padding-left: 30px;
            padding-bottom: 10px;
        }
        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .item {
        height: 190px;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 12px 6px #e1e1e1;
        transform:scale(1);
        animation: transform 500ms; 
        &:hover {
            transform:scale(1.02);
        }
        &__img {
            width:100%;
            height: 60%;
            object-fit:cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            flex: 1 1 0;
            object-position: 70% 70%;
        }
        &__title {
            font-family: $secondaryFont;
            padding-left: 15px;
            padding-right: 10px;
            padding-top: 5px;

        }
        &__icon--off, &__icon--on {
            float: right;
            position: relative;
            right: 20px;
            bottom: 40px;
            font-size: 25px;
            opacity: 1;
            color: 2px solid black;
            background-color: white;
            transition: opacity 500ms ease-in-out;
        }
        &__icon--on {
            color: $primaryColor;
            transform: translateX(25px);
            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }   
    }
    .footer {
        overflow-y: hidden;
        background-color: darken($darkGray, 70);
        color: white;
        line-height: 30px; /* adds space above and below each item */
        padding-top: 15px;
        &__logo {
            filter:invert(100%);
            width: 30%;
            padding-left: 20px;
        }
        .suggest {
            display: flex;
            &__icon {
                width: 20px;
                padding-left: 20px;
                padding-right: 30px;
                transform:translateY(8px);
            }
        }
        .partner {
            display: flex;
            &__icon {
                width: 20px;
                padding-left: 20px;
                padding-right: 30px;
                transform:translateY(8px);
            }
        }
        .legal, .contact {
            padding-left: 50px;
        }
        .contact {
            color: white !important;
        }
    }